.chat-status-container {
    background-color: #cccccc;
    display: flex;
    flex: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .avatar {
        margin-top: 28px;
        margin-bottom: 28px;
        ;

        .img {
            width: 100px;
            height: 100px
        }

    }


    .name {
        background-color: seashell;
        // width: 100%;
        text-align: center;
        padding: 14px 30px 10px;
    }

    .describe {
        padding: 0px 10px;
        text-align: justify;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: break-spaces;
    }
}