.container {}

.my-status-container {
    display: flex;
    flex: none;
    justify-content: center;
    align-items: center;
    background-color: #cccccc;
    flex-direction: column;

    // overflow: auto;
    // scroll-behavior: smooth;

    >li {
        text-decoration: none;

    }

    .avatar {
        margin-top: 28px;
        margin-bottom: 28px;
        ;

        .img {
            width: 100px;
            height: 100px
        }

    }

    .name {
        background-color: seashell;
        text-align: center;
        padding: 14px 30px 10px;

    }

    .describe {
        text-align: justify;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: break-spaces;
    }
}

.pointer-container {

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    .pointer {
        cursor: pointer;
    }
}


.log-out {
    text-decoration: none;
    font-size: 20px;
    color: black;
    background-color: #e9e506;
    width: 200px;
    border: none;
    border-radius: 5px;
    padding: 15px 32px;
    display: inline-block;
    margin: 4px 2px;
    display: flex;
    justify-content: center;
    align-self: center;
}